<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        {{#navLink "/CPA"}}CPA Students{{/navLink}}
        {{#navLink "/allStudents"}}All Students{{/navLink}}
        {{#navLink "/addStudent"}}Add A New Student{{/navLink}}
        {{#navLink "/highGPA"}}Highest GPA{{/navLink}}
        {{#navLink "/home"}}Home{{/navLink}}
    </div>
    <hr>
    <div class="container">
        {{{body}}}
    </div>
    <hr>
    <div>
        <h2>Student Honour Pledge</h2>
        <p>I acknowledge the College's academic integrity policy <br>
            On my honor, I have neither given or received unauthorized aid on this test.</p>
        <div>Name: 
            <span style="background-color: yellow;">Jiaheng Wang</span>
        </div>
        <div><br>Student Number: 
            <span style="background-color: yellow;">180562217</span>
        </div>
    </div>
</body>
</html>